# Supabase Configuration
VITE_SUPABASE_URL=https://meentsambvccfqajluft.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1lZW50c2FtYnZjY2ZxYWpsdWZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAyMTYwMTAsImV4cCI6MjA5NTc5MjAxMH0.IJnI6yUbc60I8HEMdLY5idr-EBkPnBhQidmIXHxpza8
